<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Şarkı Arama</title>
</head>
<body>
    <h1>Spotify Şarkı Arama</h1>
    <form action="/search" method="GET">
        <label for="songName">Şarkı Adı:</label>
        <input type="text" id="songName" name="songName" placeholder="Şarkı adını girin">
        <button type="submit">Ara</button>
    </form>
</body>
</html>
